//@media only screen and (max-width: 1200px) {
//
//}
//
@media only screen and (max-width: 992px) {
  .nav {
    width: 100%;
    &__body {
      justify-content: space-between;
    }
    &__body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_item:first-child {
        .logo {
          padding-left: 20px;
          padding-bottom: 20px;
          h4 {
            font-size: 25px;
          }
        }
      }
      &_item {
        &-tabs {
          margin-right: 50px;
          a {
            width: 25px;
            line-height: 10px;
            padding: 0 15px;
          }
        }
      }
      &_item:last-child {
        // бургер меню
        display: none;
      }
    }
  }
  .cinema {
    &__header {
      .container {
        max-width: 100%;
      }
      &_info {
        width: 100%;
        margin: 15px 0;
        padding: 0 15px;
        margin-top: 50px;
        &-img {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 280px;
          }
        }
        &-preview {
          display: flex;
          width: 50%;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          .cinema-rating {
            width: 100%;
            display: flex;
            justify-content: space-around;
          }
          .cinema-text {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
              width: 90%;
              margin-top: 15px;
            }
          }
          .cinema-action {
            button {
              line-height: 45px;
              padding: 0 20px;
              margin-right: 10px;
            }
          }
        }
      }
      &_tabs {
        display: flex;
        flex-direction: column;
        &_header {
          display: flex;
          h6 {
            text-align: center;
          }
        }
        &_body {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          align-items: center;
          &-item {
            margin-bottom: 20px;
            width: 45%;
            display: flex;
            justify-content: center;
            margin-right: 15px;
            position: relative;
            p {
              top: 70%;
              left: 20%;
              font-size: 15px;
            }
          }
          &-item:hover::after {
            width: 66%;
          }
        }
      }
    }
    &__category {
      position: relative;
      height: auto;
      .container {
        max-width: 100%;
      }
      &_tabs {
        background-color: #161616;
        padding: 15px 15px 20px 15px;
        height: 80px;
        overflow-x: scroll;
        position: relative;
        top: 40px;
        z-index: 1;
        &-item {
          margin-right: 15px;
        }
      }
      &_slide {
        height: 450px;
        #next_btn {
          top: 80%;
        }
        #prev_btn {
          top: 80%;
        }
      }
      &_films {
        &_body {
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          align-items: center;
          &-item {
            width: 45%;
            justify-content: center;
            align-items: center;
          }
          &-item:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
      &_paginations {
        .Pagination {
          width: 100%;
          align-items: center;
          justify-content: center;
          li {
            margin-top: 15px;
          }
        }
      }
    }
    &__category::before {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    width: 100%;
    &__body {
      justify-content: space-between;
    }
    &__body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_item:first-child {
        .logo {
          padding-left: 20px;
          padding-bottom: 20px;
          h4 {
            font-size: 25px;
          }
        }
      }
      &_item {
        &-tabs {
          margin-right: 50px;
          a {
            width: 25px;
            line-height: 10px;
            padding: 0 15px;
          }
        }
      }
      &_item:last-child {
        // бургер меню
        display: none;
      }
    }
  }
  .cinema {
    &__header {
      .container {
        max-width: 100%;
      }
      &_info {
        width: 100%;
        margin: 15px 0;
        padding: 0 15px;
        &-img {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 280px;
          }
        }
        &-preview {
          display: flex;
          width: 50%;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          .cinema-rating {
            width: 100%;
            display: flex;
            justify-content: space-around;
          }
          .cinema-text {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
              width: 90%;
              margin-top: 15px;
            }
          }
          .cinema-action {
            button {
              line-height: 45px;
              padding: 0 20px;
              margin-right: 10px;
            }
          }
        }
      }
      &_tabs {
        display: flex;
        flex-direction: column;
        &_header {
          display: flex;
          h6 {
            text-align: center;
          }
        }
        &_body {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          align-items: center;
          &-item {
            margin-bottom: 20px;
            width: 45%;
            display: flex;
            justify-content: center;
            margin-right: 15px;
            position: relative;
            p {
              top: 70%;
              left: 20%;
              font-size: 15px;
            }
          }
          &-item:hover::after {
            width: 73%;
          }
        }
      }
    }
    &__category {
      position: relative;
      height: auto;
      .container {
        max-width: 100%;
      }
      &_tabs {
        background-color: #161616;
        padding: 15px 15px 20px 15px;
        height: 80px;
        overflow-x: scroll;
        position: relative;
        top: 40px;
        z-index: 1;
        &-item {
          margin-right: 15px;
        }
      }
      &_slide {
        height: 450px;
        #next_btn {
          top: 80%;
        }
        #prev_btn {
          top: 80%;
        }
      }
      &_films {
        &_body {
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          align-items: center;
          &-item {
            width: 45%;
            justify-content: center;
            align-items: center;
          }
          &-item:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
      &_paginations {
        .Pagination {
          width: 100%;
          align-items: center;
          justify-content: center;
          li {
            margin-top: 15px;
          }
        }
      }
    }
    &__category::before {
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .nav {
    width: 100%;
    &__body {
      justify-content: space-between;
    }
    &__body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_item:first-child {
        .logo {
          padding-left: 20px;
          padding-bottom: 20px;
          h4 {
            font-size: 25px;
          }
        }
      }
      &_item {
        &-tabs {
          margin-right: 50px;
          a {
            width: 25px;
            line-height: 10px;
            padding: 0 15px;
          }
        }
      }
      &_item:last-child {
        // бургер меню
        display: none;
      }
    }
  }
  .cinema {
    &__header {
      .container {
        max-width: 100%;
      }
      &_info {
        flex-direction: column;
        width: 100%;
        margin: 15px 0;
        &-img {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 280px;
          }
        }
        &-preview {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          .cinema-rating {
            width: 100%;
            display: flex;
            justify-content: space-around;
          }
          .cinema-text {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
              width: 90%;
              margin-top: 15px;
            }
          }
          .cinema-action {
            button {
              line-height: 45px;
              padding: 0 20px;
              margin-right: 10px;
            }
          }
        }
      }
      &_tabs {
        display: flex;
        flex-direction: column;
        &_header {
          display: flex;
          h6 {
            text-align: center;
          }
        }
        &_body {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          align-items: center;
          &-item {
            margin-bottom: 20px;
            width: 45%;
            display: flex;
            justify-content: center;
            margin-right: 15px;
            position: relative;
            p {
              top: 70%;
              left: 20%;
              font-size: 15px;
            }
          }
          &-item:hover::after {
            width: 99%;
          }
        }
      }
    }
    &__category {
      position: relative;
      height: auto;
      .container {
        max-width: 100%;
      }
      &_tabs {
        background-color: #161616;
        padding: 15px 15px 20px 15px;
        height: 80px;
        overflow-x: scroll;
        position: relative;
        top: 40px;
        z-index: 1;
        &-item {
          margin-right: 15px;
        }
      }
      &_slide {
        height: 450px;
        #next_btn {
          top: 80%;
        }
        #prev_btn {
          top: 80%;
        }
      }
      &_films {
        &_body {
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          align-items: center;
          &-item {
            width: 45%;
            justify-content: center;
            align-items: center;
          }
          &-item:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
      &_paginations {
        .Pagination {
          width: 100%;
          align-items: center;
          justify-content: center;
          li {
            margin-top: 15px;
          }
        }
      }
    }
    &__category::before {
      display: none;
    }
  }
}

@media only screen and (max-width: 320px) {
  .nav {
    width: 100%;
    &__body {
      justify-content: space-between;
    }
    &__body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_item:first-child {
        .logo {
          padding-left: 20px;
          padding-bottom: 20px;
          h4 {
            font-size: 25px;
          }
        }
      }
      &_item {
        &-tabs {
          margin-right: 50px;
          a {
            width: 25px;
            line-height: 10px;
            padding: 0 15px;
          }
        }
      }
      &_item:last-child {
        // бургер меню
        display: none;
      }
    }
  }
  .cinema {
    &__header {
      .container {
        max-width: 100%;
      }
      &_info {
        flex-direction: column;
        width: 100%;
        margin: 15px 0;
        &-img {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 280px;
          }
        }
        &-preview {
          max-width: 320px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          .cinema-rating {
            width: 100%;
            display: flex;
            justify-content: space-around;
          }
          .cinema-text {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
              width: 90%;
              margin-top: 15px;
            }
          }
          .cinema-action {
            button {
              line-height: 45px;
              padding: 0 20px;
              margin-right: 10px;
            }
          }
        }
      }
      &_tabs {
        display: flex;
        flex-direction: column;
        &_header {
          display: flex;
          h6 {
            text-align: center;
          }
        }
        &_body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &-item {
            margin-bottom: 20px;
            width: 80%;
            display: flex;
            justify-content: center;
          }
          &-item:hover::after {
            width: 98%;
          }
        }
      }
    }
    &__category {
      position: relative;
      height: auto;
      .container {
        max-width: 100%;
      }
      &_tabs {
        background-color: #161616;
        padding: 15px 15px 20px 15px;
        width: 320px;
        height: 80px;
        overflow-x: scroll;
        position: relative;
        top: 40px;
        z-index: 1;
        &-item {
          margin-right: 15px;
        }
      }
      &_slide {
        height: 450px;
        #next_btn {
          top: 80%;
        }
        #prev_btn {
          top: 80%;
        }
      }
      &_films {
        &_body {
          &-item {
            width: 80%;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &_paginations {
        .Pagination {
          width: 100%;
          align-items: center;
          justify-content: center;
          li {
            margin-top: 15px;
          }
        }
      }
    }
    &__category::before {
      display: none;
    }
  }
}

